<div class="footer">
<div class="container">
 <div class="row">
  <div class="col-md-6">
    <div class="info">
      <ul class="list-inline">
        <li>Home</li>
        <li>About us</li>
        <li>Contact us</li>
      </ul>
      <p> Yacht and Crew </p>
    </div>
  </div>
  <div class="col-md-6">
    <ul class="list-inline social">
      <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
      <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    </ul>
  </div>
 </div>
</div>
</div>
