<form class="form-inline" action="yachts">
  <input type="text" name="city" placeholder="city" class="form-control">
  <input type="text" name="max_capacity" placeholder="travellers" class="form-control">
  <input type="submit" class="btn btn-primary">
</form>
