<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 50%), url('https://static1.squarespace.com/static/58089b7846c3c44d6e2ac2c0/t/580f789ce6f2e1af3c2f0d49/1477408926813/PJ170-mail_Page_04.jpg?format=2500w');">
  <div class="container">
    <div class="banner-content">
      <h1>Yacht and Crew</h1>
      <p>Book your yacht and have fun !</p>
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>

