// Your footer style

.footer {
  background: $main_color;
  color: white;
  display: flex;
  padding: 30px;

  li {
    font-size: 20px;
    font-weight: bold;
  }

  p {
    font-size: 15px;
    font-weight: lighter;
  }
}
.social li {
  background: #33383B;
  float: right;
  font-size: 20px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  text-align: center;
  width: 35px;
}
#signature {
  font-size: 12px;
}
