.wrapper-bookings {
  padding: 30px 0;
}
.booking {
  border: 2px solid grey;
  border-right: 2px dashed grey;
  border-left: 2px dashed grey;
  height: 100px;
  margin: 10px 0;
  position: relative;
  width: 400px;
  .ticket-number {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 2px grey;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    left: -10px;
    padding: 1.5px 1.5px 1.5px 6px;
    position: absolute;
    top: 5px;
  }
  .ticket-date {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .ticket-person {
    position: absolute;
    top: 25px;
    right: 15px;
  }
  .ticket-price {
    bottom: 0px;
    color: rgba(186, 0, 0, 0.8);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 10px;
  }
  .ticket-yacht {
    bottom: 15px;
    font-size: 25px;
    left: 10px;
    position: absolute;
    font-family: 'Raleway', sans-serif;
  }
  .ticket-btn {
    bottom: 5px;
    font-size: 12px;
    left: 170px;
    position: absolute;
    color: inherit;
    &:hover {
      color: $brand_primary;
      text-decoration: none;
    }
  }
  .ticket-none {
    bottom: 5px;
    font-size: 12px;
    left: 125px;
    position: absolute;
  }
}
