.booking-form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width:90%;
  padding: 10px;
  border-radius: 5px;
}
#price {
  padding: 5px;
  margin: 20px 0;
  display: block;
  letter-spacing: 1.5px;
  color: grey;
}
#unique_price {
  display: none;
}
